@page "/"

<h1 class="title">Protected Data</h1>

<p>
    This application demonstrate the use of the <code>ProtectedPersonalData</code> attributes
    <br />and the <strong>Microsoft Identity Protector system</strong>
</p>

<p>
    From original question by <a href="https://github.com/Andrea-Perelli" target="_blank">Andrea Perelli</a> on 
    <a href="https://stackoverflow.com/questions/68828951/how-to-use-protectedpersonaldata-attribute/68831681?noredirect=1#comment121666585_68831681" target="_blank">Stackoverflow</a>
</p>


<h2 class="title mt-4">How to</h2>
<p>
    Register a new user and look at the database fields of the <b>AspNetUsers</b> table.
    <br/>
    The <b>ProtectorExtensions.cs</b> source file contains an example of the <i>Protect / Unprotect</i> functions.
</p>

<Copyright />
